@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,400;0,500;1,300&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  padding: 4rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.d-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2.7rem;
  padding: 1rem 2vw;
  text-align: center;
  margin: 2rem 0;
}
.cart_btn {
  background: #0c0b0c;
}
.remove_cart {
  background: red;
}
.cart_menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.cart___ {
  width: 400px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  text-align: center;
  padding-top: 3rem;
}
.cart___ h4 {
  font-size: 2.4rem;
}
.user_cart_item_list {
  max-width: 100%;
  margin: auto;
  margin-top: 3rem;
}
.user_cart_item_list img {
  width: 7rem;
}
.user_cart_item_list .cart_box {
  background: #ebe8e8;
  margin: 0.8rem 0;
  padding: 1rem 2rem;
}
.user_cart_item_list .cart_box .d-flex-column {
  align-items: flex-end;
}
.user_cart_item_list .cart_box .title {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.8rem;
}
