.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  justify-content: center;
  grid-gap: 20px;
}
.grid_container .box_container {
  width: 540px;
  height: 540px;
  background: #898888;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 26px 2vw;
}
.grid_container div img {
  width: 100%;
  max-width: 10rem;
  object-fit: cover;
}
