.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  justify-content: center;
}
.grid_container div {
  width: 540px;
  height: 540px;
  background: #898888;

}
.grid_container div img {
  width: 100%;
  object-fit: cover;
}
