.grid_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  align-content: center;
  justify-content: center;
}
.grid_container div {
  width: 400px;
  height: 400px;
  background: #898888;
  margin: 20px 19px;
}
.grid_container div img {
  width: 100%;
  object-fit: cover;
}
